<%= form_tag '/auth/identity/register' do |f| %>
  <h4>创建个人账户</h4>
  <%= flash[:notice]%>
  <%= label_tag :nickname, '昵称' %>
  <%= text_field_tag :nickname, @user.nickname %>
  <%= label_tag :email, '邮箱'%>
  <%= text_field_tag :email, @user.email %>
  <%= label_tag :password, '密码' %>
  <%= password_field_tag :password %>
  <%= submit_tag '提交'%>
<% end %>
