<h1>SSG Home Page</h1>
<%= flash[:notice]%>
<h3>
  <%= link_to '快速注册', '/auth/identity/register' %>
  已有账号？请
  <%= link_to '登录', '/auth/identity' %>
</h3>
<h3>
  选择他登录方式
  <%= link_to '微博', '/auth/weibo' %>
  <%= link_to 'Github', '/auth/github' %>
</h3>
